{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background=@site.cover_image}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero-index background=@site.cover_image}}
  <div class="flex col align-center" data-aos="fade-down">
    <h1 class="m-hero-title bigger text-hero__header">{{@site.title}}</h1>
    {{#if @site.description}}
      <p class="m-hero-description bigger text-hero__description">{{@site.description}}</p>
    {{/if}}
    {{#if @labs.subscribers}}
      <a href="{{@site.url}}/subscribe" class="m-button filled">{{t "Subscribe"}}</a>
    {{/if}}
    {{#if @labs.members}}
      <a href="{{@site.url}}/newsletter" class="m-button filled">{{t "Subscribe"}}</a>
    {{/if}}
  </div>
  </section>
  
  <main>
    <div class="l-content">
      <div class="l-wrapper">
        {{!-- Projects  --}}
        <div>
          <h2 class="m-section-title">
            <a href="{{@site.url}}/projects">{{t "Projects"}}</a>
          </h2>
          <div class="l-grid centered">
            {{#get "posts" filter="featured:true+tags:project" include="authors,tags" limit="6" as |featured|}}
              {{#foreach posts}}
                {{#is "post"}}
                  <div class="m-recommended-slider__item">
                {{/is}}
                {{#if feature_image}}
                  <article class="m-article-card {{post_class}}">
                    <div class="m-article-card__picture lozad" data-background-image="{{img_url feature_image size="m"}}">
                {{else}}
                  <article class="m-article-card no-picture {{post_class}}">
                    <div class="m-article-card__picture">
                {{/if}}
                    <a href="{{url}}" class="m-article-card__picture-link" aria-label="Article"></a>
                  </div>
                  {{#if primary_tag}}
                    <div class="m-article-card__info">
                      <a href="{{primary_tag.url}}" class="m-article-card__tag">{{primary_tag.name}}</a>
                  {{else}}
                    <div class="m-article-card__info no-tag">
                  {{/if}}
                    <a href="{{url}}" class="m-article-card__info-link">
                      <div>
                        <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
                          {{title}}
                        </h2>
                      </div>
                    </a>
                  </div>
                </article>
                {{#is "post"}}
                  </div>
                {{/is}}
                {{else}}
                  <header class="m-heading no-margin">
                    <h3>{{t "No posts found"}}</h3>
                    <p>
                      {{t "Apparently there are no posts at the moment, check again later."}}
                    </p>
                  </header>
              {{/foreach}}
            {{/get}}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
  <script defer src="{{asset "js/three.min.js"}}"></script>
  <script defer src="{{asset "js/vanta.rings.min.js"}}"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      VANTA.RINGS({
        el: "#hero-vanta",
        mouseControls: true,
        touchControls: true,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x4adbfa,
        backgroundColor: 0xe0e0f
      })
    })
  </script>
{{/contentFor}}
