{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background=@site.cover_image}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero-index background=@site.cover_image}}
  <div class="flex col align-center" data-aos="fade-down">
    <h1 class="m-hero-title bigger text-hero__header">{{@site.title}}</h1>
    {{#if @site.description}}
      <p class="m-hero-description bigger text-hero__description">{{@site.description}}</p>
    {{/if}}
    {{#if @labs.subscribers}}
      <a href="{{@site.url}}/subscribe" class="m-button filled">{{t "Subscribe"}}</a>
    {{/if}}
    {{#if @labs.members}}
      <a href="{{@site.url}}/newsletter" class="m-button filled">{{t "Subscribe"}}</a>
    {{/if}}
  </div>
  </section>
  
  <main>
    <div class="l-content">
      <div class="l-wrapper">
        {{!-- Projetos  --}}
        <div>
          <h2 class="m-section-title">Projetos</h2>
          <div class="l-grid centered">
            {{#get "posts" filter="featured:true+tags:projeto" include="authors,tags" limit="3" as |featured|}}
              {{#foreach posts}}
                {{#is "post"}}
                  <div class="m-recommended-slider__item">
                {{/is}}
                {{#if feature_image}}
                  <article class="m-article-card {{post_class}}">
                    <div class="m-article-card__picture lozad" data-background-image="{{img_url feature_image size="m"}}">
                {{else}}
                  <article class="m-article-card no-picture {{post_class}}">
                    <div class="m-article-card__picture">
                {{/if}}
                    <a href="{{url}}" class="m-article-card__picture-link" aria-label="Article"></a>
                    <a href="{{primary_author.url}}" class="m-article-card__author js-tooltip" aria-label="Authors" data-tippy-content="{{t "Posted by"}} {{primary_author.name}} {{authors autolink="false" from="2" prefix=(t "Among with") separator=" , "}}">
                      {{#if primary_author.profile_image}}
                        <div style="background-image: url({{img_url primary_author.profile_image size="xs"}});"></div>
                      {{else}}
                        <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                      {{/if}}
                    </a>
                    {{#if featured}}
                      <a href="{{url}}" class="m-article-card__featured js-tooltip" data-tippy-content="{{t "Featured"}}" aria-label="Article">
                        <span class="icon-star"></span>
                      </a>
                    {{/if}}
                  </div>
                  {{#if primary_tag}}
                    <div class="m-article-card__info">
                      <a href="{{primary_tag.url}}" class="m-article-card__tag">{{primary_tag.name}}</a>
                  {{else}}
                    <div class="m-article-card__info no-tag">
                  {{/if}}
                    <a href="{{url}}" class="m-article-card__info-link">
                      <div>
                        <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
                          {{title}}
                        </h2>
                      </div>
                      <div class="m-article-card__timestamp">
                        <span>{{date published_at timeago="true"}}</span>
                        <span>&bull;</span>
                        <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                      </div>
                    </a>
                  </div>
                </article>
                {{#is "post"}}
                  </div>
                {{/is}}
                {{else}}
                  <header class="m-heading no-margin">
                    <h3>{{t "No posts found"}}</h3>
                    <p>
                      {{t "Apparently there are no posts at the moment, check again later."}}
                    </p>
                  </header>
              {{/foreach}}
            {{/get}}
          </div>
        </div>
        {{!-- Blog section  --}}
        <div data-aos="fade-up" data-aos-delay="240">
          <h2 class="m-section-title">Blog</h2>
          <div class="l-grid centered">
            {{#get "posts" filter="featured:true+tags:blog" include="authors,tags" limit="3" as |featured|}}
              {{#foreach posts}}
                {{#is "post"}}
                  <div class="m-recommended-slider__item">
                {{/is}}
                {{#if feature_image}}
                  <article class="m-article-card {{post_class}}">
                    <div class="m-article-card__picture lozad" data-background-image="{{img_url feature_image size="m"}}">
                {{else}}
                  <article class="m-article-card no-picture {{post_class}}">
                    <div class="m-article-card__picture">
                {{/if}}
                    <a href="{{url}}" class="m-article-card__picture-link" aria-label="Article"></a>
                    <a href="{{primary_author.url}}" class="m-article-card__author js-tooltip" aria-label="Authors" data-tippy-content="{{t "Posted by"}} {{primary_author.name}} {{authors autolink="false" from="2" prefix=(t "Among with") separator=" , "}}">
                      {{#if primary_author.profile_image}}
                        <div style="background-image: url({{img_url primary_author.profile_image size="xs"}});"></div>
                      {{else}}
                        <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                      {{/if}}
                    </a>
                    {{#if featured}}
                      <a href="{{url}}" class="m-article-card__featured js-tooltip" data-tippy-content="{{t "Featured"}}" aria-label="Article">
                        <span class="icon-star"></span>
                      </a>
                    {{/if}}
                  </div>
                  {{#if primary_tag}}
                    <div class="m-article-card__info">
                      <a href="{{primary_tag.url}}" class="m-article-card__tag">{{primary_tag.name}}</a>
                  {{else}}
                    <div class="m-article-card__info no-tag">
                  {{/if}}
                    <a href="{{url}}" class="m-article-card__info-link">
                      <div>
                        <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
                          {{title}}
                        </h2>
                      </div>
                      <div class="m-article-card__timestamp">
                        <span>{{date published_at timeago="true"}}</span>
                        <span>&bull;</span>
                        <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                      </div>
                    </a>
                  </div>
                </article>
                {{#is "post"}}
                  </div>
                {{/is}}
                {{else}}
                  <header class="m-heading no-margin">
                    <h3>{{t "No posts found"}}</h3>
                    <p>
                      {{t "Apparently there are no posts at the moment, check again later."}}
                    </p>
                  </header>
              {{/foreach}}
            {{/get}}
          </div>
        </div>
      </div>
      {{!-- Links to Previous/Next posts --}}
      {{!-- {{pagination}} --}}
    </div>
  </main>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
  <script defer src="{{asset "js/three.min.js"}}"></script>
  <script defer src="{{asset "js/vanta.rings.min.js"}}"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      VANTA.RINGS({
        el: "#hero-vanta",
        mouseControls: true,
        touchControls: true,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x4adbfa,
        backgroundColor: 0xe0e0f
      })
    })
  </script>
{{/contentFor}}
